NEXT_PUBLIC_API_ENDPOINT= 'http://localhost:8080/'
NEXT_PUBLIC_APP_URL="http://localhost:8081"
NEXT_PUBLIC_LOGIN_URL="http://localhost:8080/jlrsso"
NEXT_PUBLIC_LOGOUT_URL="http://localhost:8080/admin/toolboxLogout"
NEXT_PUBLIC_APPLICATION_NAME="Rental Development"
NODE_ENV="devlopment"
AUTH_SESSION_COOKIE_NAME="SESSION"
AUTH_VALIDATE_URL="http://localhost:8080/admin/api/v1/users/me"