body {
  overflow: hidden;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.main-section {
  display: flex;
  flex: 1;
}

.top-section {
  flex: 1 1 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  background: linear-gradient(
    90deg,
    rgba(158, 208, 158, 0.3) 0%,
    rgba(163, 234, 230, 0.5) 50%
  );
}

.bottom-section {
  flex: 2 1 66.67%;
  width: 191px;
  box-shadow: 0px 2px 1px darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.sign-in-button {
  height: 30px;
  width: 83px;

  color: gray;
  background: white;
  text-transform: capitalize;
  box-shadow: 0;
  font-weight: bold;
}

.jlr-button {
  width: 200px;
  color: grey;
  background: white;
  font-weight: bold;
}

.link {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
